---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{page.title}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{'assets/img/favicon.png' | relative_url}}" rel="icon">
  <link href="{{'assets/img/apple-touch-icon.png' | relative_url}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{'assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url}}" rel="stylesheet">
  <link href="{{'assets/vendor/icofont/icofont.min.css' | relative_url}}" rel="stylesheet">
  <link href="{{'assets/vendor/boxicons/css/boxicons.min.css' | relative_url}}" rel="stylesheet">
  <link href="{{'assets/vendor/venobox/venobox.css' | relative_url}}" rel="stylesheet">
  <link href="{{'assets/vendor/owl.carousel/assets/owl.carousel.min.css' | relative_url}}" rel="stylesheet">
  <link href="{{'assets/vendor/aos/aos.css' | relative_url}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{'assets/css/style.css' | relative_url}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v2.2.1
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12">
            <h2 class="portfolio-title">{{page.title}}</h2>
            <div class="owl-carousel portfolio-details-carousel text-center">
                {% for image in page.images %}
                <figure class="figure">
                  <img src="/portfolio/assets/img/portfolio/{{page.name}}/{{image.address}}" class="img-fluid" alt="" style="max-width: fit-content; max-height: fit-content;">
                   <figcaption class="figure-caption text-center font-weight-normal" style="color: black;">{{image.caption}}</figcaption>
                </figure>
                    <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
                {% endfor %}
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-9 order-lg-1 order-2 portfolio-info">
              {{content}}
          </div>
          <div class="col-lg-3 order-lg-2 order-1 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: {{page.category}}</li>
              {% if page.client %}<li><strong>Client</strong>: {{page.client}}</li>{% endif %}
              <li><strong>Project date</strong>: {{page.project-date}}</li>
              {% if page.project-url %}
              <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              {% endif %}
              {% if page.github-repository %}
              <li><strong>Github Repository</strong>: 
                <a target="_blank" href="https://github.com/{{page.github-repository}}">https://github.com/{{page.github-repository}}</a>
              </li>
              {% endif %}
            </ul>

            <p>
              <strong>Project Description</strong><br>
              {{page.full-description}}
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{'assets/vendor/jquery/jquery.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/jquery.easing/jquery.easing.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/php-email-form/validate.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/waypoints/jquery.waypoints.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/counterup/counterup.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/isotope-layout/isotope.pkgd.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/venobox/venobox.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/owl.carousel/owl.carousel.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/typed.js/typed.min.js' | relative_url}}"></script>
  <script src="{{'assets/vendor/aos/aos.js' | relative_url}}"></script>

  <!-- Template Main JS File -->
  <script src="{{'assets/js/main.js' | relative_url}}"></script>

</body>

</html>